.container.dashboard{
    padding-top: 10px;
}
.img.logo{
    color: rgba(255, 255, 255, 0.8);
    width: auto !important;
}

.obj-list{
    width: 100%;
    margin: 0 !important;
}

.details-license{
    width: 100%;
}